{% extends "layout.html" %}
{% block title %}Delete Animal{% endblock %}
{% block content %}
    <h2>Delete Animal</h2>
    <form action="{{ url_for('delete_item', item_name=item.name) }}" method="post">
        <p>Are you sure you want to delete the animal {{ item.name }}?</p>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        <input type="submit" value="Delete">
        {% for category in categories %}
            {% if item.category_id == category.id %}
            <a href="{{ url_for('show_item', category_name=category.name, item_name=item.name) }}">Cancel</a>
            {% endif %}
        {% endfor %}
    </form>
{% endblock %}