{% extends "layout.html" %}
{% block title %}Edit Animal{% endblock %}
{% block content %}
    <h2>Edit Animal</h2>
    <form action="{{ url_for('edit_item', item_name=item.name) }}" method="post">
        <p>Name</p>
        <input type="text" size="30" name="name" value="{{ item.name }}">
        <p>Description</p>
        <input type="text" size="30" name="description" value="{{ item.description }}">
        <p>Category</p>
        <select name="category">
            {% for category in categories %}
            {% if category.id == item.category_id %}
            <option value="{{ category.name }}" selected>{{ category.name }}</option>
            {% else %}
            <option value="{{ category.name }}">{{ category.name }}</option>
            {% endif %}
            {% endfor %}
        </select>

        <input type="submit" value="Save">
        <a href="{{ url_for('show_item', category_name=item.category.name, item_name=item.name) }}">Cancel</a>
    </form>
{% endblock %}