{% extends "layout.html" %}
{% block title %}Edit Animal{% endblock %}
{% block content %}
    <h2>Edit Animal</h2>
    <form action="{{ url_for('edit_item', item_name=item.name) }}" method="post"  enctype="multipart/form-data">
        <p>Name</p>
        <input type="text" size="30" name="name" value="{{ item.name }}">
        <p>Description</p>
        <textarea name="description" rows="5" cols="30">{{ item.description }}</textarea>
        <p>Zoo Population</p>
        <input type="number" name="quantity" size="5" min="0" value="{{ item.quantity }}">
        <p>Category</p>
        <select name="category">
            {% for category in categories %}
            {% if category.id == item.category_id %}
            <option value="{{ category.name }}" selected>{{ category.name }}</option>
            {% else %}
            <option value="{{ category.name }}">{{ category.name }}</option>
            {% endif %}
            {% endfor %}
        </select>
        {% if item.image_filename is none and item.image_url is none %}
        <p>Select an image to upload <em>(jpg, png, gif, 4 MB max size)</em>: <input type="file" name="file"></p>
        {% else %}
        <p>Image</p>
            {% if item.image_filename %}
            <figure>
                <img src="{{ url_for('show_item_image', filename=item.image_filename) }}">
                <figcaption>Uploaded image filename: {{ item.image_filename }}</figcaption>
            </figure>
            <p>Select a different image to upload <em>(jpg, png, gif, 4 MB max size)</em>: <input type="file" name="file"></p>
            <p><input type="checkbox" name="delete_image" value="delete">Delete the current image.</p>
            {% else %}
            <figure>
                <img src="{{ item.image_url }}">
                <figcaption>Linked image URL: {{ item.image_url }}</figcaption>
            </figure>
            <p>Select a different image to upload <em>(jpg, png, gif, 4 MB max size)</em>: <input type="file" name="file"></p>
            {% endif %}
        {% endif %}
        <p>Or supply a link to an image on the web <em>(an upload will be used if supplied)</em></p>
        <input type="text" size="60" name="image_url" placeholder="http://www.domainname.com/image.jpg">


        <p>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            <input type="submit" value="Save">
            {% for category in categories %}
                {% if item.category_id == category.id %}
                <a href="{{ url_for('show_item', category_name=category.name, item_name=item.name) }}">Cancel</a>
                {% endif %}
            {% endfor %}
        </p>
    </form>
{% endblock %}