{% extends "layout.html" %}
{% block title %}{{ category.name }}{% endblock %}
{% block content %}
    {% if items|length == 0 %}
        <h2>{{ category.name }} (0 animals)</h2>
        <p>There are currently no animals in this category.</p>
    {% else %}
        {% if items|length > 1 %}
        <h2>{{ category.name }} ({{ items|length }} animals)</h2>
        {% else %}
        <h2>{{ category.name }} (1 animal)</h2>
        {% endif %}
        {% for item in items %}
        <p>
            <a href="{{ url_for('show_item', category_name=category.name, item_name=item.name) }}">
                {{ item.name }}</a>
        </p>
        {% endfor %}
    {% endif %}
    <p><a href="{{ url_for('create_item') }}">Add new animal</a></p>
{% endblock %}