{% extends "layout.html" %}
{% block title %}New Animal{% endblock %}
{% block content %}
    <h2>Add New Animal</h2>
    <form action="{{ url_for('create_item') }}" method="post" enctype="multipart/form-data">
        <p>Name</p>
        <input type="text" size="30" name="name">
        <p>Description</p>
        <textarea name="description" rows="5" cols="30"></textarea>
        <p>Zoo Population</p>
        <input type="number" name="quantity" size="5" min="0" value=1>
        <p>Category</p>
        <select name="category">
            {% for category in categories %}
                {% if category.name == ref_category %}
                <option value="{{ category.name }}" selected>{{ category.name }}</option>
                {% else %}
                <option value="{{ category.name }}">{{ category.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <p>Upload an image of the animal <em>(optional)</em></p>
        <p>Select an image file <em>(jpg, png, gif, 4 MB max size)</em>: <input type="file" name="file"></p>
        <p>Or supply a link to an image on the web <em>(an upload will be used if supplied)</em></p>
        <input type="text" size="60" name="image_url" placeholder="http://www.domainname.com/image.jpg">

        <p>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            <input type="submit" value="Create">
            <a href="{{ url_for('show_homepage') }}">Cancel</a>
        </p>
    </form>
{% endblock %}